<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOS多线程中队列和执行的排列组合结果分析_Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>串行队列_异步执行.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>主队列_同步执行.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>主队列_异步执行.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>并发队列_同步执行.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>并发队列_异步执行.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E5154E9D1CC0C19E0084EE46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5154EAB1CC0C3700084EE46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5154EC01CC0C3870084EE46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5154ECB1CC0C3B20084EE46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5154ED61CC0C7830084EE46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5154EE11CC0C9CD0084EE46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5154EEC1CC0CA620084EE46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5154EF71CC0CB6C0084EE46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
